.title {
    display:flex;
    flex: 0 1 0%;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    font-style:italic;
    background-color: gray;

}

.display {
    display:flex;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
}

.display img {
  padding: 20px;
}

.playerInput {
  display:flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  gap: 8px;
}

.howTo {
  display:flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
}
